<mat-toolbar class="tool">
  <mat-toolbar-row >
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon class="example-icon">menu</mat-icon> </button> 
    <h6>Admin Dashboard</h6>
    <h4 style="margin-left: 350px ;color: white">Payroll Management System</h4>
    <i class="material-icons"style="margin-left:498px;cursor: pointer;">
      account_circle
      </i>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem" [routerLink]="['/employee']" style="cursor: pointer; color:white;"><i class="material-icons">
        person_add
        </i>  Employee Registration</mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/Salary Details']" style="cursor: pointer;color: white;"><img src="/assets/rupee.png">Salary Details</mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/Leave Report']" style="cursor: pointer;color: white;"><img src="/assets/report.png">Leave Report</mat-list-item>
      <mat-list-item role="listitem"[routerLink]="['/Attendance Report']" style="cursor: pointer;color: white;"><img src="/assets/report.png">Attendance Report</mat-list-item>
      <mat-list-item role="listitem"[routerLink]="['/Documents']" style="cursor: pointer;color: white;"><i class="material-icons">
        description
        </i>Documents</mat-list-item>
      <mat-list-item role="listitem"[routerLink]="['/Notifications']" style="cursor: pointer;color: white;"><i class="material-icons">
        notifications
        </i>Notifications</mat-list-item>
      <mat-list-item role="listitem"style="color:white;"><img src="/assets/log.png">Logout</mat-list-item>
    </mat-list>
      
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet> 
  </div>

</mat-drawer-container>

