<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <div class="title">
      <h1>Payroll</h1>
      <h5>Management System</h5>
    </div>
      
    </div>
    <div class="col-md-6 log-div" style="background: #b8c3d6;height: 700px;">
      <div class="button">     <span><button mat-button class="admin">Admin Login</button></span> <br>
        <span><button mat-button class="admin1">Manager Login</button></span> <br>
        <span><button mat-button class="admin">Employee Login</button></span> 
   </div>

    </div>
    </div>
